<h3>Заказы ({{totalCount}})</h3>
<table class="table table-sm table-striped table-bordered table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Заказчик</th>
      <th scope="col">Создана</th>
      <th scope="col">Изменена</th>
      <th scope="col">
        <a routerLink="/orders/new" class="btn btn-outline-primary btn-sm">Новый</a>
      </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <th scope="row">{{order.id}}</th>
      <td>{{order.customer_nick}}</td>
      <td>{{order.createdAt}}</td>
      <td>{{order.updatedAt}}</td>
      <td>
        <a routerLink="/orders/{{order.id}}" class="btn btn-outline-primary btn-sm">Редактировать</a></td>
      <td>
        <a (click)="deleteOrder(order)" class="btn btn-outline-primary btn-sm">Удалить</a>
      </td>
    </tr>
  </tbody>
</table>
